@import "tailwindcss";

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* Header Styling */
@keyframes rotateOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-once:hover {
  animation: rotateOnce 0.6s ease-in-out;
}

.active {
    color: #fff;
    border-bottom: 1px solid #fff;
}

/* section-one Styling */

@keyframes upDownColumns {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-30px); }
    50%  { transform: translateY(0); }
    75%  { transform: translateY(30px); }
    100% { transform: translateY(0); }
}

@keyframes downUpColumns {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(30px); }
    50%  { transform: translateY(0); }
    75%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}

.first-column img, .third-column img{
    animation: upDownColumns 3s ease-in-out infinite;
}

.second-column img {
    animation: downUpColumns 3s ease-in-out infinite;
}

.images:hover img{
    animation-play-state: paused !important;
}



/* Section Two Styling */


/* Section Three Styling */
.section-three {
    background-image: url("../../public/img/SectionThree/backImage.png");
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
}

/* Section Four Styling */
.animate-slide {
  animation: slide 80s linear infinite;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Section Five Styling */
.gradient-border {
    background: linear-gradient(90deg, #00f0ff, #9b00ff, #00f0ff);
    background-size: 400% 400%;
    animation: borderMove 6s linear infinite;
}

@keyframes borderMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Section Six Styling */
.section-six {
    background-image: url("../../public/img/SectionSixImages/bgImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center -6vw;
}


/* w-[50%] h-[80%] bg-red-600 absolute bottom-0 right-0 rounded-tl-full rounded-tr-3xl */

.overlay {
    width: 0%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    right:0;
    border-top-left-radius: 100%;
    transition: width 420ms cubic-bezier(.22,.9,.32,1),
              height 420ms cubic-bezier(.22,.9,.32,1),
              opacity 280ms ease;
    pointer-events: none; 
}

.project-one:hover .overlay {
  width: 90%;   /* cover right half */
  height: 70%; /* full height */
  opacity: 1;
}
.project-two:hover .overlay {
  width: 60%;   /* cover right half */
  height: 100%; /* full height */
  opacity: 1;
}
.project-three:hover .overlay {
  width: 70%;   /* cover right half */
  height: 80%; /* full height */
  opacity: 1;
}
.project-four:hover .overlay {
  width: 100%;   /* cover right half */
  height: 80%; /* full height */
  opacity: 1;
}
.project-five:hover .overlay {
  width: 100%;   /* cover right half */
  height: 80%; /* full height */
  opacity: 1;
}
.project-six:hover .overlay {
  width: 50%;   /* cover right half */
  height: 80%; /* full height */
  opacity: 1;
}


/* About Page Styling */
.about-page {
  background-image: url("../../public/img/AboutPage/MainPageImages/bgImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Section Three Styling */
.section-three-bgImage {
  background-image: url("../../public/img/SectionThree/backImage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Section Five Styling */
.section-five {
  background-image: url("../../public/img/AboutPage/SectionFive/bgImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Services Page */
.services-page {
  background-image: url("../../public/img/ServicesPage/SectionOne/bgImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 700px) {
    .services-page {
      background-image: url("../../public/img/AboutPage/MainPageImages/bgImage.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
}